// Typography

$font-family-serif: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-family-sans-serif-narrow: 'Arial Narrow', 'Helvetica Condensed', sans-serif;

// Colors

$link-color: #663399;
$link-color-hover: #9966CC;
