// Typography

$font-family-base:    Arial, Helvetica, sans-serif;
$font-family-headers: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

// Colors

$link-color:        #663399;
$link-color-hover:  #9966CC;
$admin-bar-color:   #336699;
